name: Deploy via SSH to Node.js Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy over SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: "147.93.84.179"
          username: "marklee-api"
          password: "SEjjJizU44oZrdXmhRY9"
          port: 22
          script: |
            cd htdocs/api.marklee.ai/marklee
            git pull origin main
            cd backend
            npm install
